/*common.css���Ϸ� ����*/
   /* ���� �κ�*/
   body{overflow-y:scroll;}   
   a {text-decoration:none; color:#000000;}
   caption{display:none;}
   img{border:0px;}
   input[type="text"],input[type="password"],select{font-size:80%; padding:3px;}
   input[type="text"],input[type="password"]{width:250px; }   
   input[type="button"]{padding:3px; font-size:80%;}
   table{border-collapse:collapse;}
   ul {list-style: none;}
   textarea { width:98%; height: 200px;}   
   .vm{vertical-align:middle;}   
   .tac{text-align:center;}
   .tar{text-align:right}
   
   /* ���� ���� */
   .contentContainer {
      width:100%;
   }

   /* ���� ���� */   
   .contentContainer .contentTit{
      width:96%; text-align:center; 
      margin-top:10px; font-weight:bold;
   }

   /* ���� ���� ��� ���� */   
   .contentContainer .contentTB table{
      width:96%; padding:0px; border:1px solid #000066; 
      border-bottom:0px; border-left:0px; margin-top:10px;
   }      
   .contentContainer .contentTB td{
      padding:8px; border-bottom:1px solid #000066;
      border-left:1px solid #000066; 
   }   
   .contentContainer .contentTB .ctr{height:150px; vertical-align:top}   
   .contentContainer .contentTB .ac{
      text-align:center; background-color: #ebebeb; font-weight:bold;
   }

   /* ��ư ���� */   
   .contentContainer .contentBtn{width:96%; margin-top:10px; text-align:right;}   
   
   .tac{text-align:center;}
   .tal{text-align:left;}
   .tar{text-align:right}
   .required{color:red;}
   
   